  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.meme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.meme--input {
    display: flex;
    flex-direction: row;
  justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.meme--input input{
    margin: 10px;
    height: 2.5rem;
    width: 30%;
    padding: 15px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid grey;
}

.meme--input input:focus{
    border-color: #70228B;
    outline: #70228B;
}

.meme button{
    width: 62%;
    padding: 15px;
    font-size: 18px;
    background-color: #70228B;
    border: white;
    color: white;
    border-radius: 10px;
}
.meme-con {
    position: relative;
    text-align: center;
}
.meme-con img{
    width: 100%;
    margin-top: 40px;
}

.meme--text {
    color: white;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    width: 40%;
    margin-top: 40px;
    left: 30%;
    margin-bottom: 20px;
}

.top {
    top: 40px;
}

.bottom {
    bottom: 0;
}
